<html lang="en" ng-app="cloudCMS">
<head>
    <title>CloudCMS</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/cloudcms.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body ng-view>

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/scripts/app/controllers/logincontroller.js"></script>
    <script src="/scripts/app/controllers/registercontroller.js"></script>
    <script src="/scripts/app/config.js"></script>
    <script src="/scripts/app/app.js"></script>
</body>
</html>