<div class="register">
    <div class="block">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>
            <input type="text" class="form-control" placeholder="Full Name" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key"></i>
            </span>
            <input type="password" class="form-control" placeholder="Email Address" />
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key"></i>
            </span>
            <input type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
            <label style="padding-left:30px">
                <input type="checkbox" value="" />
                <i class="input-helper"></i>
                Accept the license agreement
            </label>
        </div>
        <div class="clearfix"></div>
        <div class="buttons">
            <input type="submit" class="btn btn-success" value="Register" style="margin-right: 10px;" />
            <a class="btn btn-warning" href="#/login">Login</a>
        </div>
    </div>
</div>